# dbt build artifacts
target/
logs/
dbt_packages/
dbt_internal_packages/

# local dbt credentials
profiles.yml

# python environments
dbt_env/
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# VS Code / editor files
*.code-workspace
.user.yml

# python cache
__pycache__/
*.pyc